@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Mukta:wght@200&family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300&family=Quicksand:wght@300&family=Raleway:wght@100&family=Work+Sans:wght@100&display=swap');

/*Header*/
:root {
    --color-background: #171717;
    --color-primary: rgb(136, 0, 255);
    --color-secondary: rgb(33, 33, 33);
    --color-tertiary : rgb(19, 159, 231);
    --color: rgb(249, 249, 249);
    --color-border: rgba(32, 32, 32, 0.459);
    --font-family: 'DM Sans', sans-serif;
}
body{
    background-color: var(--color-background);
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    background-position: center;
}
header .navBar{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .navBar li{
    display: inline-block;
}
header .navBar a{
    text-decoration: none;
    font-size: 26px;
    color: var(--color);
    margin: 2vh;
    padding: 8px 12px;
    border-radius: 3px;
    transition-timing-function: ease-in;
}
header .navBar a:hover::after{
    background-image: linear-gradient(90deg, rgba(102,39,199,255), rgb(79, 221, 250));
    border-radius: 6px;
    display: flex;  
    content: "";
    position: absolute;
    height: 3px;
    width: 7.2rem;
}
.sideBarIcon{
    color: white;
}
.conteudo-header{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Esquerda*/
.container-esquerdo{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titulo-container-esquerdo{
    color: var(--color-primary);
    font-size: 55px;
    font-family: var(--font-family);
}
.subtitulo-container-esquerdo{
    color: rgba(175, 175, 175, 0.856);
    font-size: 25px;
}
.texto-container-esquerdo{
    font-family: var(--font-family);
    color: var(--color);
    font-size: 18px;
    margin: 5% 5% 1% 5%;
    text-align: center; 
}    
.btn-header{
    display: block;
    width: 7em;
    height: auto;
    font-size: 23px;
    font-weight: bold;
    color: var(--color);
    margin: 10%;
    padding: 10px;
    border: black;
    border-radius: 15px;
    background-image: linear-gradient(90deg, rgba(102,39,199,255), 
    rgb(79, 221, 250));
}
.btn-header:hover{
    cursor: pointer;
    border-color: white;
    animation: mexidinha 0.5s alternate;
}

/*Direita*/
.container-direito{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-menu{
    width: 35vw;
    transform: translateY(0px);
    animation: flutuar 3s ease-in-out infinite;
}

/*Sobre-Nós*/
.sobre{
    background-color: var(--color-background);
    margin: 10% 10% 10% 10%;
}
.titulo-sobre-nos{
    color: var(--color-primary);
    font-size: 3rem;
    font-weight: 700;   
    margin-bottom: 30px;
    text-align: center;
}
.titulo-sobre-nos::after{
    background-image: linear-gradient(90deg, rgba(102,39,199,255), rgb(79, 221, 250));
    border-radius: 6px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    content: "";
    height: 3px;
    width: 12.7rem;
}
.conteudo-sobre-nos{
    color: var(--color);
    font-size: 21px;
    text-align: center;
    margin: 0 auto;
    width: 70%;
}
.facebookIcon{
   fill: var(--color-tertiary);
}   

/*Animações*/ 
@keyframes mexidinha{
    0%{
        transform: translateX(0%);
    }
    20%{
        transform: translateX(-4%);
    }
    40%{
        transform: translateX(4%);
    }
    60%{
        transform: translateX(-4%);
    }
    80%{
        transform: translateX(4%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes flutuar {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-8px);
    }
    100%{
        transform: translateY(0px);
    }
}

/*Responsividade*/
#btn-mobile{
    display: none;
}
@media only screen and (max-width: 1024px){
    .container-direito{
        width: auto;
    }
}
@media only screen and (max-width: 600px){
    html, body {
        overflow-x: hidden;
    }
    nav{
        height: 4em;
    }
    .navBar a{
        display: none;
    }
    .conteudo-header{
        flex-direction: column;
    }
    .container-esquerdo{
        justify-content: flex-start;
        margin: 3em 0 0 0;
        width: 100%;
        right: auto;
    }
    .texto-container-esquerdo{
        margin: 3em 1em 1em 1em;
        font-size: 1em;
    }
    .btn-header{
        margin: 1em 0em 0em 0em;
    }
    .logo-menu{
        width: 85vw;
    }
}
@media (max-width: 600px){
    #btn-mobile{
        display: block;
    }
    a #nav.active #menu{
        display: flex;
    }
}